<a href="https://colab.research.google.com/github/simosaoudi/BigDataLabs/blob/main/suite_lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark
!pip install pyspark
!pip install py4j

In [ ]:
import os
import sys
import findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"
findspark.init()
findspark.find()

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("ColabSpark") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()
print(" Spark est configuré avec succès !")

In [ ]:
print(spark.version)

In [ ]:
data = [(1, "Alice", 23), (2, "Bob", 30), (3, "Charlie", 29)]
columns = ["id", "nom", "age"]
df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

In [ ]:
df.printSchema()  # Structure du DataFrame
df.select("nom", "age").show()  # Sélection de colonnes
df.filter(df.age > 25).show()  # Filtrage des données

In [ ]:
df = spark.read.csv("/content/transaction_data.csv", header=True, inferSchema=True)
df.show(5)

In [ ]:
df.printSchema()

In [ ]:
df.filter(df["Transaction Amount"] > 1000).show()

In [ ]:
df.groupBy("Transaction Type").sum("Transaction Amount").show()

In [ ]:
df.orderBy(df["Transaction Amount"].desc()).show(5)

In [ ]:
!pip install pymongo

In [ ]:
!pip install pymongo pyspark

In [ ]:
spark.stop()

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

mongo_uri = "mongodb+srv://saoudi:Simao%402434@saoudicluster.bprtv1q.mongodb.net/bankdb.transactions?retryWrites=true&w=majority"

spark = SparkSession.builder \
    .appName("MongoDBIntegration") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.3.0") \
    .config("spark.mongodb.read.connection.uri", mongo_uri) \
    .getOrCreate()

In [ ]:
import os
import findspark
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

findspark.init()

from pyspark.sql import SparkSession

mongo_uri = "mongodb+srv://saoudi:Simao%402434@saoudicluster.bprtv1q.mongodb.net/bankdb.transactions?retryWrites=true&w=majority"

spark = SparkSession.builder \
    .appName("MongoDBIntegration") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.3.0") \
    .config("spark.mongodb.read.connection.uri", mongo_uri) \
    .getOrCreate()

print("Spark est prêt avec le connecteur 10.3.0")

In [ ]:

df_csv = spark.read.csv("/content/transaction_data.csv", header=True, inferSchema=True)
df_csv.show(5)

In [ ]:
df_csv.write.format("mongodb") \
    .mode("append") \
    .option("connection.uri", mongo_uri) \
    .option("database", "bankdb") \
    .option("collection", "transactions") \
    .save()

print("Succès ! Les données ont quitté Colab pour rejoindre MongoDB Atlas.")

In [ ]:
df_atlas = spark.read.format("mongodb").load()
df_atlas.show(5)

In [ ]:
df_atlas.groupBy("Device Used").avg("Latency (ms)").show()

In [ ]:
df_atlas.printSchema()

In [ ]:
df_atlas.groupBy("Transaction Type").avg("Transaction Amount").show()

In [ ]:
df_atlas.groupBy("Sender Account ID").count().filter("count > 5").show()

In [ ]:
df_atlas.createOrReplaceTempView("transactions")
print(" Table 'transactions' prête pour les requêtes SQL")

In [ ]:
query1 = """
SELECT `Transaction Type`, SUM(`Transaction Amount`) as Total_Amount
FROM transactions
GROUP BY `Transaction Type`
"""
result1 = spark.sql(query1)
result1.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Agréger les données avec Spark et convertir en Pandas
# On utilise df_atlas qui contient vos données MongoDB
df_grouped = df_atlas.groupBy("Transaction Type").sum("Transaction Amount").toPandas()

# 2. Renommer les colonnes pour plus de clarté
df_grouped.columns = ["Transaction Type", "Total Amount"]
df_grouped.sort_values(by="Total Amount", ascending=False, inplace=True)

# 3. Visualisation avec Seaborn
plt.figure(figsize=(10, 5))
sns.barplot(data=df_grouped, x="Transaction Type", y="Total Amount", palette="coolwarm")

plt.title("Montant Total des Transactions par Type (Données MongoDB Atlas)")
plt.xlabel("Type de Transaction")
plt.ylabel("Montant Total (€)")
plt.xticks(rotation=45)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Sélection et conversion
df_pandas = df_atlas.select("Transaction Amount").toPandas()

# Visualisation
plt.figure(figsize=(10, 5))
sns.histplot(df_pandas["Transaction Amount"], bins=30, kde=True, color="blue")
plt.title("Distribution des Montants des Transactions")
plt.xlabel("Montant (€)")
plt.ylabel("Nombre de Transactions")
plt.show()

In [ ]:
# Préparation des données agrégées
df_status = df_atlas.groupBy("Transaction Status").count().toPandas()
df_status.columns = ["Transaction Status", "Count"]

# Visualisation
plt.figure(figsize=(7, 5))
sns.barplot(data=df_status, x="Transaction Status", y="Count", palette="pastel")
plt.title("Nombre de Transactions Réussies vs Échouées")
plt.xlabel("Statut de la Transaction")
plt.ylabel("Nombre de Transactions")
plt.show()